h1 , h2 , h3 , a , span {
    font-family: Arial, Helvetica, sans-serif;
    }
    a{
        text-decoration: none;
    }
    body{
        background-color: linear-gradient(to bottom right , red , yellow);
    }
    /* start section 1 */
    /* start Logo Section */
    #Logo-Section{
        background-image: url(images/imageLogo.pnj.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 500px;
        height: 500px;
        /* display: none; */
    }
    /* end Logo section */
    /* end section 1 */
    
    
    /*start section2 */
    /* mainplaqueSection */
    #mainplaqueSection{
        width: 900px;
        height: 500px;
        margin: 60px auto;
        /* background-color:  #78A3EB; */
        background-color: #88CDF6;
        border: solid 1px #03264e;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        display: none;
        
    }
    #linephotoSection2>img {
        width: 300px;
        height:230px;
        border-radius: 5px;
        margin-top: 165px;
        margin-left: 20px;
    }
    #lineplaqueSection2{
        width: 50%;
        text-align: right;
        margin-top: 20px;
    }
    
    #plaque{
        margin-top: 40px;
        margin-left: 100px;
        text-align: right;
        background-image: url(images/car-plate-default.svg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        width: 230px;
        height: 45px;
        
    }
    #plaque-part1{
        width: 190px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        
    }
    .plaque-input{
     width: 25px;
     margin-top: 12px;
     height: 25px;
     border: none;
     background-color: #fbe7ff;
    }
    
    .plaque-input:first-of-type{
        width: 16px;
    }
    .plaque-input:last-of-type{
        width: 25px;
    }
    
    /* code meli */
    #code-meli{
        margin-top: 15px;
        width: 230px;
        height: 40px;
        margin-left: 50px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    /* start  btn-nextLevel-section2 */
    #btn-div{
        text-align: center;
    }
    .btn-nextLevel-section2{
        font-size: 14PX;
        margin-top: 35px;
        text-align: center;
       padding: 14px 30px ;
       border: none;
        border-radius: 5px;
        /* background-color: #fbe7ff; */
        color: #efeff1;
        background-color: #08546C;
    }
    
    .btn-nextLevel-section2:hover{
      border: 1px solid #03264e;
      transition: 3s;
    }
    
    /*end mainplaqueSection */
    /*end section 2 */



    /* start section 3 */
    #QuestionsSection-1{
        width: 850px;
        height: 500px;
        margin: 60px auto;
        background-color: #88CDF6;
        border: solid 1px #03264e;
        border-radius: 5px;
        display: none;
    }
    
    #QuestionsSection-div{
        font-size: 20px;
        text-align: center;
        margin: 60px 150px;
    }
    .form-group{
        margin-top: 8px;
        margin-right: 8px;
    }
    .form-group > select{
        font-size: 14px;
        text-align: right;
        width: 90px;
        height: 22px;
        border-radius: 5px;
       border: #03264e;
    }



    /* btn-section3 */
    .btn-section3{
        font-size: 14PX;
        text-align: center;
       padding: 12px 30px ;
       border: none;
        border-radius: 5px;
        /* background-color: #fbe7ff; */
        color: #efeff1;
        background-color: #08546C;
    }

    .btn-section3:hover{
        border: 1px solid #03264e;
        transition: 3s;
      }
    /* end section 3 */
    
  